#############################################
# alias.rc

# Custom aliases for often run commands


# System Independent

alias sprunge="curl -F 'sprunge=<-' http://sprunge.us"
alias vpr="vim $HOME/.bashrc && source $HOME/.bashrc"
alias la="ls -aFG"
alias l="ls -l"
alias ll="ls -lFG"
alias ls="ls -FG"
alias c="clear"
alias x="exit"
alias sshc="$EDITOR ~/.ssh/config"
alias trl="transmission-remote --list"
alias ..="cd .."
alias wgetnck="wget --no-check-certificate"
alias gco="git checkout -b"
alias gcm="git commit && git push origin"
alias gup="git checkout master && git pull origin master && git fetch -a"
alias gisquash='git reset --soft HEAD~$(git rev-list --count HEAD ^master)'

# Fedora/Centos

alias yumi="sudo yum install $1"
alias yums="yum search $1"
alias yume="sudo yum erase $1"
alias yumu="sudo yum update"
alias sctl="sudo systemctl"


# Debian/Ubuntu

alias update="sudo apt-get update -y && sudo apt-get upgrade -y"
alias sear="apt-cache search $1"
alias ins="sudo apt-get install $1"


# OSX

alias flushdns='sudo dscacheutil -flushcache && sudo killall -HUP mDNSResponder && say cache flushed'
